.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.statistics_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

.value {
  font-weight: 700;
  color: #478e2b;
  font-size: 50px
}

.item {
  font-weight: 900;
  font-size: 25px;
}
